*{
    margin: 0;
    width: 100vw;
    font-family: "Raleway" , sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 605px;
    
}
header p {
    width: 510px;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content img {

    width: 248px;
    height: 214px;    
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(0 18px 30px rgba(0,0,0,0.9)); /* sombra que segue alpha */
    position: relative;
    z-index: 4;
}

header button {
    color:linear-gradient(#3ba1cd,#1572b7);
    width: 326px;
    height: 57px;
    opacity: 1;
    top: 473px;
    left: 557px;
    border-width: 2px;
    padding:10px;
    gap: 31px;
    margin-top: 20px;
    background-color: transparent;
    -webkit-text-fill-color: #33a8db;
    border: solid 2px #33a8db;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;

}
header button:hover{
    background-color: hsla(205, 58%, 6%, 0.3) ;
    cursor: pointer;
}

.banner{
    
    background-color: #07121A;
    background-image:
    radial-gradient(circle at center,rgba(51,168,219,0.22) 0%,rgba(8,41,49,0.5) 25%,rgba(2,16,21,0.9) 65%), url('../assets/images/banner.png');
    background-size: cover;
    background-position: center;
} 

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    justify-content: space-between;
    gap: 16px;
    border-color: solid 1px #33a8db;
}
.banner-content h1{
    
    display: flex;
    justify-content: center;
    align-items: center;     
    background: linear-gradient(180deg, #33A8DB , #1472B7);
    background-clip: text;
    height: 47px;
    -webkit-text-fill-color: hsla(198, 70%, 53% , 0.01) ;
}
.banner-content p {
    font-family: "Raleway", sans-serif;
    text-align: justify;
    color: #FFFFFF;
    padding: 0px;
    width: 510px;
    height: 46px;
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    
}

#course-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #33A8DB;
    width: 100vw;
    height: fit-content; 
    background-color:#010405;
    background-size:inherit;
    justify-content: space-between;
    gap: 16px;
    padding: 60px;
    border-bottom:solid 2px #33a8db;
    border-top:solid 2px #33a8db;
    
}

#course-content h2{
    font-size: 32px;
    text-transform: uppercase;
    font-family: "Raleway";
    width: 477px;
    text-align: center;
}
#course-content p{
    color: white;
    width: 792px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align:center;
}

.modules-list{
    font-size: 16px;   
    text-transform:initial; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    

}

.modules-list span{
    color: #33A8DB;
    text-align: start;
    box-sizing: border-box;
    width: fit-content;
    padding-right: 5px;
}

.modules-list .module{
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    flex-direction: row;
    width: 535px;
    height: 51px;
    border: solid 2px #33A8DB;
    border-radius: 57px;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
}

#transform-world{
    background-color: black;
    display: block;
    box-sizing: border-box;
        height: 960px;
    background-image: url(../assets/images/woman-code.png);
    background-position: center -250px;
    background-origin: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

#transform-world p{
    color: white;
    text-shadow: 3px 2px 0px #33A8DB;
    width: 244px;
    height: 141px;
    font-weight: 900;
    font-size: 40px;
    display: block;
    padding:  250px 0 0 250px;
   
}

#professional-challenges{
    background-color: #010405;
    align-content: center;
    justify-items: center;
    border-bottom:solid 2px #33a8db;
    border-top:solid 2px #33a8db;
    
}

#professional-challenges h2{
    text-align: center; 
    color:#33a8db;
    width: 600px;
    height: 76px;
    font-weight: 700;
    font-size: 32px;
    margin-top: 70px;
    text-transform: uppercase;
    
    
}

#professional-challenges img{
    display: block;
    flex-direction: column;
    width: 659px;
    height: 429px;
    margin: 0 auto 0 auto;
   
    

}
#professional-challenges p{
    color: white;
    width: 792px;
    height: 76px;
    text-align: center;
    padding-bottom: 70px;
    

}

footer{
    background-image: linear-gradient(black, #07121A);
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 50px 0;
    color: white;
}

.dio-logo{
    width: 310px;
    height: 44px;
    
}
footer a{
    color: #33a8db;
    text-decoration: none;
}